In [ ]:
# I Used 4 kind of algorithms
# 1) LinearRegression
# 2) RandomForestRegressor
# 3) SVR
# 4) GradientBoostingRegressor

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from google.colab import drive 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
drive.mount('/content/gdrive')

#Import the data set
df = pd.read_csv('gdrive/My Drive/housing.csv')
df.head()

Mounted at /content/gdrive

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [2]:
# Remove rows with missing values
df.dropna(inplace=True)
# One-hot encode the 'ocean_proximity' variable
df_encoded = pd.get_dummies(df, columns=['ocean_proximity'])

# Split the data into training and testing sets
X = df_encoded.drop('median_house_value', axis=1)
y = df_encoded['median_house_value']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

# Choose a machine learning algorithm
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Use the model to make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate the accuracy of the model
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

# Compute the R-squared score of the model
score = model.score(X_test, y_test)
print('R-squared score:', score*100,2)

Mean Squared Error: 4542709631.994288
R-squared score: 65.45797167818907 2

In [3]:

from sklearn.ensemble import RandomForestRegressor

# Choose a machine learning algorithm
model = RandomForestRegressor()

# Fit the model to the training data
model.fit(X_train, y_train)

# Use the model to make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate the accuracy of the model
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

# Compute the R-squared score of the model
score = model.score(X_test, y_test)
print('R-squared score:', score*100,2)

Mean Squared Error: 2415829696.946411
R-squared score: 81.63042224295533 2

In [4]:
from sklearn.svm import SVR

# Choose a machine learning algorithm
model = SVR(kernel='linear')

# Fit the model to the training data
model.fit(X_train, y_train)

# Use the model to make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate the accuracy of the model
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

# Compute the R-squared score of the model
score = model.score(X_test, y_test)
print('R-squared score:', score*100,2)

Mean Squared Error: 8950750298.870447
R-squared score: 31.939944356666004 2

In [5]:
from sklearn.ensemble import GradientBoostingRegressor

# Choose a machine learning algorithm
model = GradientBoostingRegressor()

# Fit the model to the training data
model.fit(X_train, y_train)

# Use the model to make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate the accuracy of the model
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

# Compute the R-squared score of the model
score = model.score(X_test, y_test)
print('R-squared score:', score*100,2)

Mean Squared Error: 2983142071.2816668
R-squared score: 77.31667082825192 2